public net.minecraft.client.renderer.LevelRenderer renderBuffers

# RegisterMenuScreensEvent
public net.minecraft.client.gui.screens.MenuScreens$ScreenConstructor

# RegisterParticleFactoriesEvent
public net.minecraft.client.particle.ParticleEngine$SpriteParticleRegistration

# RegisterItemPropertiesEvent
public net.minecraft.client.renderer.item.ItemProperties registerGeneric(Lnet/minecraft/resources/ResourceLocation;Lnet/minecraft/client/renderer/item/ClampedItemPropertyFunction;)Lnet/minecraft/client/renderer/item/ClampedItemPropertyFunction;
public net.minecraft.client.renderer.item.ItemProperties registerCustomModelData(Lnet/minecraft/client/renderer/item/ItemPropertyFunction;)V
public net.minecraft.client.renderer.item.ItemProperties register(Lnet/minecraft/world/item/Item;Lnet/minecraft/resources/ResourceLocation;Lnet/minecraft/client/renderer/item/ClampedItemPropertyFunction;)V
