# CreativeModeTab::Registry
public net.minecraft.world.item.CreativeModeTab$Output

# Debug::Renderer
public net.minecraft.client.renderer.LevelRenderer renderBuffers

# Debug::RenderSlotIds
public net.minecraft.client.gui.screens.inventory.CreativeModeInventoryScreen$SlotWrapper
public net.minecraft.client.gui.screens.inventory.CreativeModeInventoryScreen$SlotWrapper target

# RegisterMenuScreensEvent
public net.minecraft.client.gui.screens.MenuScreens$ScreenConstructor

# RegisterParticleFactoriesEvent
public net.minecraft.client.particle.ParticleResources$SpriteParticleRegistration

# RegisterItemPropertiesEvent
#public net.minecraft.client.renderer.item.ItemProperties registerGeneric(Lnet/minecraft/resources/ResourceLocation;Lnet/minecraft/client/renderer/item/ClampedItemPropertyFunction;)Lnet/minecraft/client/renderer/item/ClampedItemPropertyFunction;
#public net.minecraft.client.renderer.item.ItemProperties registerCustomModelData(Lnet/minecraft/client/renderer/item/ItemPropertyFunction;)V
#public net.minecraft.client.renderer.item.ItemProperties register(Lnet/minecraft/world/item/Item;Lnet/minecraft/resources/ResourceLocation;Lnet/minecraft/client/renderer/item/ClampedItemPropertyFunction;)V

# Datageneration
# Datageneration::Registry
public net.minecraft.core.RegistrySetBuilder$RegistryStub
public net.minecraft.core.RegistrySetBuilder$RegistryStub <init>(Lnet/minecraft/resources/ResourceKey;Lcom/mojang/serialization/Lifecycle;Lnet/minecraft/core/RegistrySetBuilder$RegistryBootstrap;)V
# Datageneration::Recipes
public net.minecraft.data.recipes.RecipeProvider$Runner
# Datageneration::Biomes
public net.minecraft.data.worldgen.biome.OverworldBiomes baseBiome(FF)Lnet/minecraft/world/level/biome/Biome$BiomeBuilder;
public net.minecraft.data.worldgen.biome.OverworldBiomes baseJungle(Lnet/minecraft/core/HolderGetter;Lnet/minecraft/core/HolderGetter;FZZZ)Lnet/minecraft/world/level/biome/Biome$BiomeBuilder;
public net.minecraft.data.worldgen.biome.OverworldBiomes baseOcean()Lnet/minecraft/world/level/biome/Biome$BiomeBuilder;
public net.minecraft.data.worldgen.biome.OverworldBiomes basePeaks(Lnet/minecraft/core/HolderGetter;Lnet/minecraft/core/HolderGetter;)Lnet/minecraft/world/level/biome/Biome$BiomeBuilder;
public net.minecraft.data.worldgen.biome.OverworldBiomes globalOverworldGeneration(Lnet/minecraft/world/level/biome/BiomeGenerationSettings$Builder;)V
public net.minecraft.data.worldgen.biome.OverworldBiomes baseOceanGeneration(Lnet/minecraft/core/HolderGetter;Lnet/minecraft/core/HolderGetter;)Lnet/minecraft/world/level/biome/BiomeGenerationSettings$Builder;
# Datageneration::ItemModels
public net.minecraft.client.data.models.ItemModelGenerators BLANK_LAYER
public net.minecraft.client.data.models.ItemModelGenerators declareCustomModelItem(Lnet/minecraft/world/item/Item;)V
public net.minecraft.client.data.models.ItemModelGenerators createFlatItemModel(Lnet/minecraft/world/item/Item;Lnet/minecraft/client/data/models/model/ModelTemplate;)Lnet/minecraft/resources/Identifier;
public net.minecraft.client.data.models.ItemModelGenerators generateFlatItem(Lnet/minecraft/world/item/Item;Lnet/minecraft/client/data/models/model/ModelTemplate;)V
public net.minecraft.client.data.models.ItemModelGenerators createFlatItemModel(Lnet/minecraft/world/item/Item;Ljava/lang/String;Lnet/minecraft/client/data/models/model/ModelTemplate;)Lnet/minecraft/resources/Identifier;
public net.minecraft.client.data.models.ItemModelGenerators createFlatItemModel(Lnet/minecraft/world/item/Item;Lnet/minecraft/world/item/Item;Lnet/minecraft/client/data/models/model/ModelTemplate;)Lnet/minecraft/resources/Identifier;
public net.minecraft.client.data.models.ItemModelGenerators generateFlatItem(Lnet/minecraft/world/item/Item;Lnet/minecraft/world/item/Item;Lnet/minecraft/client/data/models/model/ModelTemplate;)V
public net.minecraft.client.data.models.ItemModelGenerators generateItemWithTintedOverlay(Lnet/minecraft/world/item/Item;Lnet/minecraft/client/color/item/ItemTintSource;)V
public net.minecraft.client.data.models.ItemModelGenerators generateItemWithTintedOverlay(Lnet/minecraft/world/item/Item;Ljava/lang/String;Lnet/minecraft/client/color/item/ItemTintSource;)V
public net.minecraft.client.data.models.ItemModelGenerators generateItemWithTintedBaseLayer(Lnet/minecraft/world/item/Item;I)V
public net.minecraft.client.data.models.ItemModelGenerators createCompassModels(Lnet/minecraft/world/item/Item;)Ljava/util/List;
public net.minecraft.client.data.models.ItemModelGenerators generateStandardCompassItem(Lnet/minecraft/world/item/Item;)V
public net.minecraft.client.data.models.ItemModelGenerators generateRecoveryCompassItem(Lnet/minecraft/world/item/Item;)V
public net.minecraft.client.data.models.ItemModelGenerators generateClockItem(Lnet/minecraft/world/item/Item;)V
public net.minecraft.client.data.models.ItemModelGenerators generateLayeredItem(Lnet/minecraft/world/item/Item;Lnet/minecraft/client/resources/model/sprite/Material;Lnet/minecraft/client/resources/model/sprite/Material;)Lnet/minecraft/resources/Identifier;
public net.minecraft.client.data.models.ItemModelGenerators generateLayeredItem(Lnet/minecraft/resources/Identifier;Lnet/minecraft/client/resources/model/sprite/Material;Lnet/minecraft/client/resources/model/sprite/Material;)Lnet/minecraft/resources/Identifier;
public net.minecraft.client.data.models.ItemModelGenerators generateLayeredItem(Lnet/minecraft/resources/Identifier;Lnet/minecraft/client/resources/model/sprite/Material;Lnet/minecraft/client/resources/model/sprite/Material;Lnet/minecraft/client/resources/model/sprite/Material;)V
public net.minecraft.client.data.models.ItemModelGenerators generateTrimmableItem(Lnet/minecraft/world/item/Item;Lnet/minecraft/resources/ResourceKey;Lnet/minecraft/resources/Identifier;Z)V
public net.minecraft.client.data.models.ItemModelGenerators generateBundleModels(Lnet/minecraft/world/item/Item;)V
public net.minecraft.client.data.models.ItemModelGenerators generateBundleCoverModel(Lnet/minecraft/world/item/Item;Lnet/minecraft/client/data/models/model/ModelTemplate;Ljava/lang/String;)Lnet/minecraft/resources/Identifier;
public net.minecraft.client.data.models.ItemModelGenerators generateBow(Lnet/minecraft/world/item/Item;)V
public net.minecraft.client.data.models.ItemModelGenerators generateCrossbow(Lnet/minecraft/world/item/Item;)V
public net.minecraft.client.data.models.ItemModelGenerators generateBooleanDispatch(Lnet/minecraft/world/item/Item;Lnet/minecraft/client/renderer/item/properties/conditional/ConditionalItemModelProperty;Lnet/minecraft/client/renderer/item/ItemModel$Unbaked;Lnet/minecraft/client/renderer/item/ItemModel$Unbaked;)V
public net.minecraft.client.data.models.ItemModelGenerators generateElytra(Lnet/minecraft/world/item/Item;)V
public net.minecraft.client.data.models.ItemModelGenerators generateBrush(Lnet/minecraft/world/item/Item;)V
public net.minecraft.client.data.models.ItemModelGenerators generateFishingRod(Lnet/minecraft/world/item/Item;)V
public net.minecraft.client.data.models.ItemModelGenerators generateGoatHorn(Lnet/minecraft/world/item/Item;)V
public net.minecraft.client.data.models.ItemModelGenerators generateShield(Lnet/minecraft/world/item/Item;)V
public net.minecraft.client.data.models.ItemModelGenerators createFlatModelDispatch(Lnet/minecraft/client/renderer/item/ItemModel$Unbaked;Lnet/minecraft/client/renderer/item/ItemModel$Unbaked;)Lnet/minecraft/client/renderer/item/ItemModel$Unbaked;
public net.minecraft.client.data.models.ItemModelGenerators generateSpyglass(Lnet/minecraft/world/item/Item;)V
public net.minecraft.client.data.models.ItemModelGenerators generateTrident(Lnet/minecraft/world/item/Item;)V
public net.minecraft.client.data.models.ItemModelGenerators generateSpear(Lnet/minecraft/world/item/Item;)V
public net.minecraft.client.data.models.ItemModelGenerators addPotionTint(Lnet/minecraft/world/item/Item;Lnet/minecraft/resources/Identifier;)V
public net.minecraft.client.data.models.ItemModelGenerators generatePotion(Lnet/minecraft/world/item/Item;)V
public net.minecraft.client.data.models.ItemModelGenerators generateTippedArrow(Lnet/minecraft/world/item/Item;)V
public net.minecraft.client.data.models.ItemModelGenerators generateDyedItem(Lnet/minecraft/world/item/Item;I)V
public net.minecraft.client.data.models.ItemModelGenerators generateTwoLayerDyedItem(Lnet/minecraft/world/item/Item;)V
