# CreativeModeTab::Registry
public net.minecraft.world.item.CreativeModeTab$Output

# Debug::Renderer
public net.minecraft.client.renderer.LevelRenderer renderBuffers

# RegisterMenuScreensEvent
public net.minecraft.client.gui.screens.MenuScreens$ScreenConstructor

# RegisterParticleFactoriesEvent
public net.minecraft.client.particle.ParticleResources$SpriteParticleRegistration

# RegisterItemPropertiesEvent
#public net.minecraft.client.renderer.item.ItemProperties registerGeneric(Lnet/minecraft/resources/ResourceLocation;Lnet/minecraft/client/renderer/item/ClampedItemPropertyFunction;)Lnet/minecraft/client/renderer/item/ClampedItemPropertyFunction;
#public net.minecraft.client.renderer.item.ItemProperties registerCustomModelData(Lnet/minecraft/client/renderer/item/ItemPropertyFunction;)V
#public net.minecraft.client.renderer.item.ItemProperties register(Lnet/minecraft/world/item/Item;Lnet/minecraft/resources/ResourceLocation;Lnet/minecraft/client/renderer/item/ClampedItemPropertyFunction;)V

# Datageneration
# Datageneration::Registry
public net.minecraft.core.RegistrySetBuilder$RegistryStub
public net.minecraft.core.RegistrySetBuilder$RegistryStub <init>(Lnet/minecraft/resources/ResourceKey;Lcom/mojang/serialization/Lifecycle;Lnet/minecraft/core/RegistrySetBuilder$RegistryBootstrap;)V
# Datageneration::Biomes
public net.minecraft.data.worldgen.biome.OverworldBiomes baseBiome(FF)Lnet/minecraft/world/level/biome/Biome$BiomeBuilder;
public net.minecraft.data.worldgen.biome.OverworldBiomes baseJungle(Lnet/minecraft/core/HolderGetter;Lnet/minecraft/core/HolderGetter;FZZZ)Lnet/minecraft/world/level/biome/Biome$BiomeBuilder;
public net.minecraft.data.worldgen.biome.OverworldBiomes baseOcean()Lnet/minecraft/world/level/biome/Biome$BiomeBuilder;
public net.minecraft.data.worldgen.biome.OverworldBiomes basePeaks(Lnet/minecraft/core/HolderGetter;Lnet/minecraft/core/HolderGetter;)Lnet/minecraft/world/level/biome/Biome$BiomeBuilder;
public net.minecraft.data.worldgen.biome.OverworldBiomes globalOverworldGeneration(Lnet/minecraft/world/level/biome/BiomeGenerationSettings$Builder;)V
public net.minecraft.data.worldgen.biome.OverworldBiomes baseOceanGeneration(Lnet/minecraft/core/HolderGetter;Lnet/minecraft/core/HolderGetter;)Lnet/minecraft/world/level/biome/BiomeGenerationSettings$Builder;
